.grid-item-program {
    background-color: #fff;
    border-radius: 8px;
}
.program-container{
    padding: 20px;
}
.program-details p, .program-details ul{
    margin: 7px 0px;
}
.img-container{
    background-color: #eee;
}
.res-img-container{
    min-width: 150px;
    min-height: 150px;
    margin: auto;
}
.res-img-container img{
    width: 100%;
    height: auto;
    min-width: 150px;
}
.launch-name {
    color: #474f98;
    margin: 15px 0;
    font-size: 18px;
}
.launch-detail {
    display: flex;
    align-content: center;
}
.launch-detail.type-list {
    display: block;
}
.detail-label {
    font-size: 16px;
}
.type-list .detail-label {
    font-size: 18px;
}
.detail-value {
    color: #474f98;
    margin-left: 5px;
    font-size: 16px;
}
.type-list .detail-value {
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    .filter-item{
        padding: 0px;
    }
    .res-img-container{
        min-width: 150px;
        min-height: 150px;
        margin: auto;
    }
}